@model LeaveManagementSystem.Models.LeaveTypeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DefaultDays)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DefaultDays)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<div class="row col-sm-5">
    <div class="col-sm-6">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark btn-block">Edit</a>
    </div>
    <div class="col-sm-6">
        <a asp-action="Index" class="btn btn-light btn-block">Back to List</a>
    </div>
</div>
